#!/bin/sh
#
# /etc/rc.d/gpm: start/stop gpm daemon
#

case $1 in
start)
	/usr/sbin/gpm -m /dev/psaux -t ps2
	;;
stop)
	killall -q /usr/sbin/gpm
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
